:root {
font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
line-height: 1.5;
font-weight: 400;


color-scheme: light dark;
color: rgba(255, 255, 255, 0.87);
background-color: #242424;

font-synthesis: none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

a {
font-weight: 500;
color: #646cff;
text-decoration: inherit;
}
a:hover {
color: #535bf2;
}

.suggestions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  row-gap: 0;
}

.colors{
  display: grid;
  grid-template-columns: 50px 50px 1fr;
}


input[type="color"] {
  border: 0;
  background: 0;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

body {
  margin: 0;
  min-width: 393px;
  min-height: 100vh;
  text-align: center;
}

.threshold-box {
  max-width: calc(100% - 1em);
  margin-left: .5em;
}

#threshold {
  text-align: right;
  margin: -1.8em 0 0;
}

#app {
margin: 0 auto;
max-width: 393px;
min-width: 393px;
display: inline-block;
}

.original,
.suggestion {
border-radius: 0 !important;
border: 0 none;
padding: 1rem;
text-align: center;
height: 100%;
display: grid !important;
flex-direction: column;
justify-content: center;
align-items: center;
grid-template-columns: 100px 1fr;
}

h1 {
font-size: 3.2em;
line-height: 1.1;
}

fieldset, legend {
margin: 0;
padding: 0;
border: none;
font-size: 100%;
font-family: inherit;
color: inherit;
vertical-align: middle;
}

legend {
padding: 0;
margin: .5rem 0;
display: block;
}
fieldset {
  margin-top: -1em !important
}

figure {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

.decision {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  margin-top: .25em;
}

header {
  display: grid;
  justify-content:space-between;
  align-items: center;
  grid-template-columns: 1fr 160px;
}

section {
  display: grid;
  justify-content: space-between;
  align-items: center;
  row-gap: 0;
  column-gap: .5rem;
  grid-template-columns: 1fr 150px;
}

figcaption {
font-size: 1.3rem;
}

.rancho-regular {
font-family: "Rancho", cursive;
font-weight: 400;
font-style: normal;
}

legend {
  position: absolute;
  left: -9999px;
}

.MuiFormControlLabel-root {
  margin-left: 0;
  margin-right: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.contrail-one-regular {
font-family: "Contrail One", sans-serif;
font-weight: 400;
font-style: normal;
}


/* Dark mode styles */
@media (prefers-color-scheme: dark) {
body {
  background-color: #333; /* Dark gray */
  color: #fff; /* White */
}
}

@media (prefers-color-scheme: light) {
:root {
  color: #213547;
  background-color: #ffffff;
}
a:hover {
  color: #747bff;
}
button {
  background-color: #f9f9f9;
}
}
